@font-face {
  font-family: 'iconfont';  /* project id 1695296 */
  src: url('//at.alicdn.com/t/font_1695296_mo3a10ajns.eot');
  src: url('//at.alicdn.com/t/font_1695296_mo3a10ajns.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1695296_mo3a10ajns.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1695296_mo3a10ajns.woff') format('woff'),
  url('//at.alicdn.com/t/font_1695296_mo3a10ajns.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1695296_mo3a10ajns.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}